#welcome{
	-fx-background-image: url("../../backgroundMenu.jpg");
	-fx-background-size: cover;
    -fx-background-repeat: stretch;
    -fx-background-position: center center;
    -fx-effect: dropshadow(three-pass-box, black, 30.0, 0.5, 0.0, 0.0); 
}


#btnPlay {
	-fx-padding:6.0px 0.0 6.0px 0.0;
	-fx-background-radius: 100.0px 0.0 100.0px 0.0;
	-fx-padding: 30.0px 0.0 30.0px 0.0;
	-fx-background-color: #9800AA;
	-fx-text-fill: white;
	-fx-font-size: 45.0;
}

#btnPlay:hover {
    -fx-background-color: #F39C12;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnPlay:pressed {
	-fx-background-color: green;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    
}

#btnRules {
	-fx-padding:6.0px 0.0 6.0px 0.0;
	-fx-background-radius: 100.0px 0.0 100.0px 0.0;
	-fx-padding: 30.0px 0.0 30.0px 0.0;
	-fx-background-color: #9800AA;
	-fx-text-fill: white;
	-fx-font-size: 30.0;
}

#btnRules:hover {
    -fx-background-color: #F39C12;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnRules:pressed {
	-fx-background-color: green;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    
}

#btnHighScore {
	-fx-padding:6.0px 0.0 6.0px 0.0;
	-fx-background-radius: 100.0px 0.0 100.0px 0.0;
	-fx-padding: 30.0px 0.0 30.0px 0.0;
	-fx-background-color: #9800AA;
	-fx-text-fill: white;
	-fx-font-size: 30.0;
}

#btnHighScore:hover {
    -fx-background-color: #F39C12;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnHighScore:pressed {
	-fx-background-color: green;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9;
    
}

#btnExit {
	-fx-padding:6.0px 0.0 6.0px 0.0;
	-fx-background-radius: 100.0px 0.0 100.0px 0.0;
	-fx-padding: 30.0px 0.0 30.0px 0.0;
	-fx-background-color: #9800AA;
	-fx-text-fill: white;
	-fx-font-size: 30.0;
}

#btnExit:hover {
    -fx-background-color: #F39C12;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnExit:pressed {
	-fx-background-color: green;
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9; 
}

#lblWon{
	-fx-font-size: 100.0px;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-text-fill:  orange;
	-fx-alignment: center;
	-fx-border-color: orange;
	-fx-border-width: 5.0px
	
	
}

#moneyWon{
	-fx-font-size: 100.0px;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-text-fill:  orange;
	-fx-alignment: center;
	-fx-border-color: orange;
	-fx-border-width: 5.0px;
}

#lblCongratulation{
	-fx-font-size: 100.0px;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-text-fill:  orange;
	-fx-alignment: center;
	-fx-border-color: orange;
	-fx-border-width: 5.0px;
}

#btnBack{
	-fx-font-size: 30.0px;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-text-fill:  orange;
	-fx-alignment: center;
	-fx-border-color: orange;
	-fx-border-width: 5.0px;
}

#btnExitScore{
	-fx-font-size: 30.0px;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-text-fill:  orange;
	-fx-alignment: center;
	-fx-border-color: orange;
	-fx-border-width: 5.0px;
}

#lblStatement{
	-fx-font-size: 50.0px;
	-fx-text-fill: white;
	-fx-background-color: #9800AA;
	-fx-alignment: center;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-border-color: #5F005D;
	-fx-border-width: 7.0px;
}

#btnChoice1{
	-fx-font-size: 30.0px;
	-fx-text-fill: white;
	-fx-background-color: #9800AA;
	-fx-alignment: center;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-border-color: #5F005D;
	-fx-border-width: 7.0px;
}

#btnChoice1:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnChoice1:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9; 
}

#btnChoice2{
	-fx-font-size: 30.0px;
	-fx-text-fill: white;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-alignment: center;
	-fx-border-color: #5F005D;
	-fx-border-width: 7.0px;
}

#btnChoice2:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnChoice2:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9; 
}

#btnChoice3{
	-fx-font-size: 30.0px;
	-fx-text-fill: white;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-alignment: center;
	-fx-border-color: #5F005D;
	-fx-border-width: 7.0px;
}

#btnChoice3:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnChoice3:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9; 
}

#btnChoice4{
	-fx-font-size: 30.0px;
	-fx-text-fill: white;
	-fx-shape: "M 150 350 L 200 300 L 600 300 L 650 350 L 600 400 L 200 400 Z";
	-fx-background-color: #9800AA;
	-fx-alignment: center;
	-fx-border-color: #5F005D;
	-fx-border-width: 7.0px;
}

#btnChoice4:hover {
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.1;
}

#btnChoice4:pressed {
    -fx-scale-y: 0.9;
    -fx-scale-x: 0.9; 
}

#vbLevels{
	-fx-background-color: black;
	-fx-border-color: #696969;
	-fx-border-width: 5px;
}

.label:common-level{
	-fx-text-fill: #F39C12;
}

.label:anchor-level{
	-fx-text-fill: white;
}

.label:current-level{
	-fx-text-fill: black;
	-fx-background-color: #F39C12;
}